<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">site.BaseURL</th>
        <td>{{ site.BaseURL }}</td>
      </tr>
      <tr>
        <th scope="row">site.BuildDrafts</th>
        <td>{{ site.BuildDrafts }}</td>
      </tr>
      <tr>
        <th scope="row">site.Home</th>
        <td>{{ site.Home }}</td>
      </tr>
      <tr>
        <th scope="row">site.IsServer</th>
        <td>{{ site.IsServer }}</td>
      </tr>
      <tr>
        <th scope="row">site.Language.Lang</th>
        <td>{{ site.Language.Lang }}</td>
      </tr>
      <tr>
        <th scope="row">site.LastChange</th>
        <td>{{ site.LastChange }}</td>
      </tr>
      <tr>
        <th scope="row">site.Sections</th>
        <td>
          <details>
            <summary>{{ site.Sections }}</summary>
            {{ range site.Sections }}
              {{ . }}<br>
            {{ end }}
          </details>
        </td>
      </tr>
      <tr>
        <th scope="row">site.Title</th>
        <td>{{ site.Title }}</td>
      </tr>
    </tbody>
  </table>
</div>
