baseURL: https://zwbetz.com
languageCode: en-us
defaultContentLanguage: en
title: zwbetz
theme: feather
enableRobotsTXT: true
timeout: 45000
enableGitInfo: true
buildDrafts: false
paginate: 5
paginatePath: page

build:
  writeStats: true

outputs:
  home:
    - HTML
    - RSS
  section:
    - HTML
    - RSS
    - JSON

disableKinds:
  - taxonomy
  - term

permalinks:
  blog: /:filename/

imaging:
  quality: 75

menu:
  nav:
    - name: Home
      pre: home
      url: /
      weight: 01
    - name: Blog
      pre: edit
      url: /blog/
      weight: 02
    - name: Search
      pre: search
      url: /search/
      weight: 03
    - name: Contact
      pre: mail
      url: /contact/
      weight: 04
    - name: Archive
      pre: archive
      url: /archive/
      weight: 05
    - name: Debug
      pre: eye
      url: null
      weight: 06

  footer_nav:
    - name: Built With
      pre: tool
      url: /built-with/
      weight: 01
    - name: See an Issue?
      pre: help-circle
      url: https://github.com/zwbetz-gh/zwbetz/issues
      weight: 02
    - name: Disclaimer
      pre: umbrella
      url: /disclaimer/
      weight: 03

params:
  show_social_media_meta_tags: false
  show_search: true
  show_debug: false
  dark_mode: false
  goat_counter_code: zwbetz
  date_format: Jan 2, 2006
  images:
    - img/nasa_earth_1280x1280.jpeg

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: false
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: gruvbox
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
