baseURL: https://zwbetz.com
languageCode: en-us
defaultContentLanguage: en
title: zwbetz
theme: feather
enableRobotsTXT: true
timeout: 45000
enableGitInfo: true

build:
  writeStats: true

outputs:
  home:
    - HTML
    - RSS
    - JSON
  section:
    - HTML
    - RSS
    - JSON

disableKinds:
  - taxonomy
  - term

permalinks:
  blog: /:filename/

imaging:
  quality: 100

menu:
  nav:
    - name: Home
      pre: home
      url: /
      weight: 1
    - name: Blog
      pre: edit
      url: /blog/
      weight: 2

params:
  show_nav_icon: true
  show_search: true
  show_built_with: true
  show_debug_table: false
  goat_counter_code: zwbetz
  date_format: Jan 2, 2006

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: false
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: pygments
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
