{{ define "main" }}
  {{ partial "page-title.html" . }}
  <div class="container">
    <!-- <div class="table-responsive"> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Thing</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Params.projects }}
            <tr>
              <th scope="row">
                <a href="{{ .link }}">{{ .text }}</a>
              </th>
              <td>
                {{ .description }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    <!-- </div> -->
  </div>
{{ end }}
