/*! uswds v2.11.1 */
 .usa-prose > ul,
.usa-prose > ol{
  margin-bottom:1em;
  margin-top:1em;
  line-height:1.5;
  padding-left:3ch;
}
 .usa-prose > ul:last-child,
.usa-prose > ol:last-child{
  margin-bottom:0;
}
 .usa-prose > ul ul,
.usa-prose > ol ul,
.usa-prose > ul ol,
.usa-prose > ol ol{
  margin-top:0.25em;
}

 .usa-prose > ul li,
.usa-prose > ol li{
  margin-bottom:0.25em;
  max-width:68ex;
}
 .usa-prose > ul li:last-child,
.usa-prose > ol li:last-child{
  margin-bottom:0;
}

.usa-prose > table, .usa-table{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  border-collapse:collapse;
  border-spacing:0;
  color:#1b1b1b;
  margin:1.25rem 0;
  text-align:left;
}

.usa-prose > table thead td,
.usa-table thead td{
  background-color:#dfe1e2;
  color:#1b1b1b;
}

.usa-prose > table td,
.usa-table td{
  background-color:white;
  border:1px solid #1b1b1b;
  font-weight:normal;
  padding:0.5rem 1rem;
}
.usa-prose > table th[data-sortable]:not([aria-sort]) .usa-table__header__button:focus, .usa-table th[data-sortable]:not([aria-sort]) .usa-table__header__button:focus, .usa-prose > table th[data-sortable][aria-sort=none] .usa-table__header__button:focus, .usa-table th[data-sortable][aria-sort=none] .usa-table__header__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-prose > table th[data-sortable][aria-sort=descending] .usa-table__header__button:focus, .usa-table th[data-sortable][aria-sort=descending] .usa-table__header__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-prose > table th[data-sortable][aria-sort=ascending] .usa-table__header__button:focus, .usa-table th[data-sortable][aria-sort=ascending] .usa-table__header__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
}
main{
  display:block;
}
h1{
  font-size:2em;
  margin:0.67em 0;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace, monospace;
  font-size:1em;
}
a{
  background-color:transparent;
}

strong{
  font-weight:bolder;
}
code{
  font-family:monospace, monospace;
  font-size:1em;
}
small{
  font-size:80%;
}

sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup{
  top:-0.5em;
}
img{
  border-style:none;
}
button,
input{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,
input{
  overflow:visible;
}
button{
  text-transform:none;
}
button{
  -webkit-appearance:button;
}
button::-moz-focus-inner{
  border-style:none;
  padding:0;
}
button:-moz-focusring{
  outline:1px dotted ButtonText;
}
summary{
  display:list-item;
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-300.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-700.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-light-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-light-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Light.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Light.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Light.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Regular.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Regular.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Regular.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Bold.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Bold.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Bold.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-LightItalic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-LightItalic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-LightItalic.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Italic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Italic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Italic.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-BoldItalic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-BoldItalic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-BoldItalic.ttf) format("truetype");
}
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable=true]:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

html{
  font-feature-settings:"kern" 1;
  -webkit-font-kerning:normal;
          font-kerning:normal;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:100%;
}

/*! uswds v2.11.1 */
body{
  color:#1b1b1b;
  background-color:white;
  overflow-x:hidden;
}

.usa-button{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
  color:white;
  background-color:#005ea2;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  border:0;
  border-radius:0.25rem;
  cursor:pointer;
  display:inline-block;
  font-weight:700;
  margin-right:0.5rem;
  padding:0.75rem 1.25rem;
  text-align:center;
  text-decoration:none;
  width:100%;
}
@media all and (min-width: 30em){
  .usa-button{
    width:auto;
  }
}
.usa-button:visited{
  color:white;
}
.usa-button:hover{
  color:white;
  background-color:#1a4480;
  border-bottom:0;
  text-decoration:none;
}
.usa-button:active{
  color:white;
  background-color:#162e51;
}
.usa-button:not([disabled]):focus{
  outline-offset:0.25rem;
}
.usa-button:disabled{
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  background-color:#c9c9c9;
  color:white;
  pointer-events:none;
}
.usa-button:disabled:hover, .usa-button:disabled:active, .usa-button:disabled:focus{
  background-color:#c9c9c9;
  border:0;
  box-shadow:none;
}
.usa-button--outline.usa-button--inverse.usa-button--unstyled:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
 .usa-button--disabled:focus{
  background-color:#c9c9c9;
  border:0;
  box-shadow:none;
}
 .usa-button--outline-disabled:focus,
.usa-button--outline-inverse-disabled:focus,
.usa-button--outline:disabled:focus,
.usa-button--outline-inverse:disabled:focus,
.usa-button--outline-inverse:disabled:focus{
  background-color:transparent;
  border:0;
}
.usa-button--unstyled:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

img{
  max-width:100%;
}

 .usa-input{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.3;
}

 .usa-input{
  border-width:1px;
  border-color:#565c65;
  border-style:solid;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  border-radius:0;
  color:#1b1b1b;
  display:block;
  height:2.5rem;
  margin-top:0.5rem;
  max-width:30rem;
  padding:0.5rem;
  width:100%;
}

.usa-checkbox__input{
  position:absolute;
  left:-999em;
  right:auto;
}

.usa-checkbox__label{
  cursor:pointer;
  display:inherit;
  font-weight:normal;
  margin-top:0.75rem;
  padding-left:2rem;
  position:relative;
  text-indent:-2rem;
}

.usa-checkbox__label::before{
  background:white;
  content:" ";
  display:inline-block;
  left:2px;
  position:relative;
  vertical-align:middle\0 ;
  white-space:pre;
}

.usa-checkbox__label::before{
  height:1.25rem;
  width:1.25rem;
  border-radius:2px;
}

.usa-checkbox__label::before{
  box-shadow:0 0 0 2px #71767a;
  line-height:1.25rem;
  margin-right:0.75rem;
  text-indent:0;
}

.usa-checkbox__input:checked + .usa-checkbox__label::before{
  background-color:#005ea2;
  box-shadow:0 0 0 2px #005ea2;
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-checkbox__input:checked:disabled + .usa-checkbox__label::before{
  background-image:url("../img/correct8.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:0.75rem auto;
}
@media print{
  .usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-checkbox__input:checked:disabled + .usa-checkbox__label::before{
    background-image:none;
    background-color:white;
    content:url("../img/checkbox-check-print.svg");
    text-indent:0;
  }
}

.usa-radio__input:focus + .usa-radio__label::before{
  outline:0.25rem solid #2491ff;
  outline-offset:0.25rem;
}

.usa-checkbox__input:disabled + .usa-checkbox__label{
  color:#c9c9c9;
  cursor:not-allowed;
}

.usa-checkbox__input:focus + .usa-checkbox__label::before{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-checkbox__input:disabled + .usa-checkbox__label::before{
  background:#e6e6e6;
  box-shadow:0 0 0 2px #c9c9c9;
  cursor:not-allowed;
}
.usa-file-input__choose:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-range:focus{
  outline:none;
}
.usa-range:focus::-webkit-slider-thumb{
  background-color:white;
  box-shadow:0 0 0 2px #2491ff;
}
.usa-range:focus::-moz-range-thumb{
  background-color:white;
  box-shadow:0 0 0 2px #2491ff;
}
.usa-range:focus::-ms-thumb{
  background-color:white;
  box-shadow:0 0 0 2px #2491ff;
}
.usa-input-group input:focus{
  outline:none;
}

button.usa-combo-box__toggle-list:focus,
button.usa-combo-box__clear-input:focus{
  outline-offset:-4px;
}

.usa-combo-box__toggle-list__wrapper:focus,
.usa-combo-box__clear-input__wrapper:focus{
  outline:0;
}
.usa-combo-box__list:focus{
  outline:0;
}
.usa-combo-box__list-option--focused:focus{
  outline-offset:-4px;
}
.usa-date-picker__wrapper:focus{
  outline:0;
}
.usa-date-picker__calendar__year:not([disabled]):focus, .usa-date-picker__calendar__previous-year-chunk:not([disabled]):focus,
.usa-date-picker__calendar__next-year-chunk:not([disabled]):focus, .usa-date-picker__calendar__month:not([disabled]):focus, .usa-date-picker__calendar__year-selection:not([disabled]):focus,
.usa-date-picker__calendar__month-selection:not([disabled]):focus, .usa-date-picker__calendar__date:not([disabled]):focus, .usa-date-picker__calendar__previous-year:not([disabled]):focus,
.usa-date-picker__calendar__previous-month:not([disabled]):focus,
.usa-date-picker__calendar__next-year:not([disabled]):focus,
.usa-date-picker__calendar__next-month:not([disabled]):focus, .usa-date-picker__button:not([disabled]):focus{
  outline-offset:-4px;
}
.usa-date-picker__calendar__date--selected:not([disabled]):focus, .usa-date-picker__calendar__date--range-date:not([disabled]):focus{
  background-color:#0050d8;
  color:#f9f9f9;
}
.usa-date-picker__calendar__date--within-range:not([disabled]):focus{
  background-color:#cfe8ff;
}
.usa-date-picker__calendar__month--selected:not([disabled]):focus{
  background-color:#0050d8;
  color:#f9f9f9;
}
.usa-date-picker__calendar__year--selected:not([disabled]):focus{
  background-color:#0050d8;
  color:#f9f9f9;
}
.grid-container{
  margin-left:auto;
  margin-right:auto;
  max-width:64rem;
  padding-left:1rem;
  padding-right:1rem;
}
@media all and (min-width: 64em){
  .grid-container{
    padding-left:2rem;
    padding-right:2rem;
  }
}
.grid-row{
  display:flex;
  flex-wrap:wrap;
}
.grid-row.grid-gap{
  margin-left:-0.5rem;
  margin-right:-0.5rem;
}
.grid-row.grid-gap > *{
  padding-left:0.5rem;
  padding-right:0.5rem;
}
@media all and (min-width: 64em){
  .grid-row.grid-gap{
    margin-left:-1rem;
    margin-right:-1rem;
  }
  .grid-row.grid-gap > *{
    padding-left:1rem;
    padding-right:1rem;
  }
}

.grid-col-12{
  flex:0 1 auto;
  width:100%;
}
@media all and (min-width: 40em){
  .tablet\:grid-col{
    flex:1 1 0%;
    width:auto;
    max-width:100%;
    min-width:1px;
  }
}

.usa-prose > p{
  line-height:1.5;
  margin-bottom:0;
  margin-top:0;
  max-width:68ex;
}
.usa-prose > * + p{
  margin-top:1em;
}
.usa-prose > p + *{
  margin-top:1em;
}

.usa-prose > h1,
.usa-prose > h2,
.usa-prose > h3{
  margin-bottom:0;
  margin-top:0;
  clear:both;
}
.usa-prose > * + h1,
.usa-prose > * + h2,
.usa-prose > * + h3{
  margin-top:1.5em;
}
.usa-prose > h1 + *,
.usa-prose > h2 + *,
.usa-prose > h3 + *{
  margin-top:1em;
}
.usa-link:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-prose{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
}
.usa-prose > h1{
  font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size:2.44rem;
  line-height:1.2;
  font-weight:700;
}
.usa-prose > h2{
  font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size:1.95rem;
  line-height:1.2;
  font-weight:700;
}
.usa-prose > h3{
  font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size:1.34rem;
  line-height:1.2;
  font-weight:700;
}
.usa-accordion{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  color:#1b1b1b;
  margin:0;
  padding:0;
  width:100%;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
}
.usa-accordion > li{
  margin-bottom:0;
  max-width:unset;
}
.usa-accordion > ul li ul{
  list-style:disc;
}
.usa-accordion > ul li ul > li > ul{
  list-style:circle;
}
.usa-accordion > ul li ul > li > ul > li > ul{
  list-style:square;
}
.usa-accordion + .usa-accordion,
.usa-accordion + .usa-accordion--bordered{
  margin-top:0.5rem;
}

.usa-accordion--bordered .usa-accordion__content{
  border-bottom:0.25rem solid #f0f0f0;
  border-left:0.25rem solid #f0f0f0;
  border-right:0.25rem solid #f0f0f0;
  padding-bottom:1rem;
}
.usa-accordion--bordered .usa-accordion__heading{
  margin-bottom:0;
}

.usa-accordion__heading,
.usa-prose .usa-accordion__heading{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
  margin:0;
}
.usa-accordion__heading:not(:first-child),
.usa-prose .usa-accordion__heading:not(:first-child){
  margin-top:0.5rem;
}

.usa-accordion__content{
  background-color:white;
  margin-top:0;
  overflow:auto;
  padding:1rem 1.25rem calc(1rem - 0.25rem) 1.25rem;
}
.usa-accordion__content > *:first-child{
  margin-top:0;
}
.usa-accordion__content > *:last-child{
  margin-bottom:0;
}

.usa-accordion__button{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  background-image:url("../img/usa-icons/remove.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-color:#f0f0f0;
  background-position:right 1.25rem center;
  background-size:1.5rem;
  color:#1b1b1b;
  cursor:pointer;
  display:inline-block;
  font-weight:700;
  margin:0;
  padding:1rem 3.5rem 1rem 1.25rem;
  text-decoration:none;
  width:100%;
}
.usa-accordion__button:visited{
  color:#54278f;
}
.usa-accordion__button:hover{
  color:#1a4480;
}
.usa-accordion__button:active{
  color:#162e51;
}
.usa-accordion__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-accordion__button:hover, .usa-accordion__button:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
.usa-accordion__button:hover{
  background-color:#dfe1e2;
  color:#1b1b1b;
  text-decoration:none;
}

.usa-accordion__button[aria-expanded=false]{
  background-image:url("../img/usa-icons/add.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-size:1.5rem;
}
.usa-alert__text a:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-banner .usa-accordion{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
}
.usa-banner__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
@media all and (max-width: 29.99em){
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:focus{
    outline:0.25rem solid #2491ff;
    outline-offset:0;
  }
}
.usa-button-group--segmented .usa-button:focus{
  z-index:3;
}

.usa-footer{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  overflow:hidden;
}
.usa-footer > .grid-container{
  margin-left:auto;
  margin-right:auto;
  max-width:64rem;
  padding-left:1rem;
  padding-right:1rem;
}
@media all and (min-width: 64em){
  .usa-footer > .grid-container{
    padding-left:2rem;
    padding-right:2rem;
  }
}
.usa-footer__return-to-top a:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-footer__secondary-link a:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-footer__secondary-section{
  padding-bottom:1.25rem;
  padding-top:1.25rem;
  color:#1b1b1b;
  background-color:#dfe1e2;
}
.usa-footer__secondary-section > .grid-container{
  margin-left:auto;
  margin-right:auto;
  max-width:64rem;
  padding-left:1rem;
  padding-right:1rem;
}
@media all and (min-width: 64em){
  .usa-footer__secondary-section > .grid-container{
    padding-left:2rem;
    padding-right:2rem;
  }
}
.usa-footer__secondary-section a{
  color:#1b1b1b;
}
.usa-form a:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-header{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  z-index:300;
}
.usa-header::after{
  clear:both;
  content:"";
  display:block;
}
.usa-header a{
  border-bottom:none;
}
@media all and (min-width: 64em){
  .usa-header + .usa-section,
.usa-header + main{
    border-top:1px solid #dfe1e2;
  }
}

@media all and (max-width: 63.99em){
  .usa-logo{
    flex:1 1 0%;
    font-size:0.93rem;
    line-height:0.9;
    margin-left:1rem;
  }
}
@media all and (min-width: 64em){
  .usa-logo{
    margin-top:2rem;
    margin-bottom:1rem;
    font-size:1.46rem;
    line-height:1.1;
  }
}
.usa-logo a{
  color:#1b1b1b;
  text-decoration:none;
}

.usa-logo__text{
  display:block;
  font-style:normal;
  font-weight:700;
  margin:0;
}

.usa-menu-btn{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  flex:0 1 auto;
  padding-left:0.75rem;
  padding-right:0.75rem;
  background-color:#005ea2;
  color:white;
  font-size:0.87rem;
  height:3rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
}
.usa-menu-btn:visited{
  color:#54278f;
}
.usa-menu-btn:hover{
  color:#1a4480;
}
.usa-menu-btn:active{
  color:#162e51;
}
.usa-menu-btn:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-menu-btn:hover, .usa-menu-btn:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
@media all and (min-width: 64em){
  .usa-menu-btn{
    display:none;
  }
}
.usa-menu-btn:hover{
  background-color:#1a4480;
  color:white;
  text-decoration:none;
}
.usa-menu-btn:active{
  color:white;
}
.usa-menu-btn:visited{
  color:white;
}

@media all and (min-width: 64em){
  .usa-header--basic .usa-navbar{
    position:relative;
    width:33%;
  }
  .usa-header--basic .usa-nav{
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    display:flex;
    padding:0 0 0.25rem 0.5rem;
    width:100%;
  }
  .usa-header--basic .usa-nav-container{
    align-items:flex-end;
    justify-content:space-between;
    display:flex;
  }
  .usa-header--basic .usa-nav__primary-item > .usa-current,
.usa-header--basic .usa-nav__link:hover{
    position:relative;
  }
  .usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after{
    background-color:#005ea2;
    border-radius:0;
    content:"";
    display:block;
    position:absolute;
    height:0.25rem;
    left:1rem;
    right:1rem;
    bottom:-0.25rem;
  }
  .usa-header--basic .usa-nav__link[aria-expanded=true]::after,
.usa-header--basic .usa-nav__link[aria-expanded=true]:hover::after{
    display:none;
  }
  .usa-header--basic .usa-nav__primary{
    width:auto;
  }
  .usa-header--basic .usa-nav__primary-item:last-of-type{
    position:relative;
  }
  .usa-header--basic .usa-nav__primary-item:last-of-type .usa-nav__submenu{
    position:absolute;
    right:0;
  }
}
.usa-header--basic.usa-header--megamenu .usa-nav__inner{
  display:flex;
  flex-direction:column;
}
@media all and (min-width: 64em){
  .usa-header--basic.usa-header--megamenu .usa-nav__inner{
    display:block;
    float:right;
    margin-top:-2.5rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--basic.usa-header--megamenu .usa-nav__primary-item:last-of-type{
    position:static;
  }
}

@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__primary-item > .usa-current,
.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover{
    position:relative;
  }
  .usa-header--extended .usa-nav__primary-item > .usa-current::after,
.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover::after{
    background-color:#005ea2;
    border-radius:0;
    content:"";
    display:block;
    position:absolute;
    height:0.25rem;
    left:1rem;
    right:1rem;
    bottom:0;
  }
  .usa-header--extended .usa-nav__link[aria-expanded=true]::after,
.usa-header--extended .usa-nav__link[aria-expanded=true]:hover::after{
    display:none;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-navbar{
    margin-left:auto;
    margin-right:auto;
    max-width:64rem;
    padding-left:1rem;
    padding-right:1rem;
    display:block;
    height:auto;
    overflow:auto;
  }
}
@media all and (min-width: 64em) and (min-width: 64em){
  .usa-header--extended .usa-navbar{
    padding-left:2rem;
    padding-right:2rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav{
    border-top:1px solid #dfe1e2;
    padding:0;
    width:100%;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__inner{
    margin-left:auto;
    margin-right:auto;
    max-width:64rem;
    padding-left:1rem;
    padding-right:1rem;
    position:relative;
  }
}
@media all and (min-width: 64em) and (min-width: 64em){
  .usa-header--extended .usa-nav__inner{
    padding-left:2rem;
    padding-right:2rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__primary{
    margin-left:-1rem;
  }
  .usa-header--extended .usa-nav__primary::after{
    clear:both;
    content:"";
    display:block;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__link{
    padding-bottom:1rem;
    padding-top:1rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__submenu .usa-grid-full{
    padding-left:0.75rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__submenu.usa-megamenu{
    left:0;
    padding-left:2rem;
  }
}

html.usa-js-loading .usa-nav__submenu,
html.usa-js-loading .usa-nav__submenu.usa-megamenu{
  position:absolute;
  left:-999em;
  right:auto;
}

.usa-icon{
  display:inline-block;
  fill:currentColor;
  height:1em;
  position:relative;
  width:1em;
}

@media all and (min-width: 64em){
  .usa-megamenu.usa-nav__submenu{
    padding-left:0;
    padding-right:0;
    padding-bottom:2rem;
    padding-top:2rem;
    left:-33%;
    right:0;
    width:auto;
  }
}
@media all and (min-width: 64em){
  .usa-megamenu.usa-nav__submenu::before{
    position:absolute;
    bottom:0;
    top:0;
    background-color:#162e51;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    right:100%;
  }
}
@media all and (min-width: 64em){
  .usa-megamenu.usa-nav__submenu::after{
    position:absolute;
    bottom:0;
    top:0;
    background-color:#162e51;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    left:100%;
  }
}
.usa-modal:focus{
  outline:none;
}
.usa-modal__close:not([disabled]):focus{
  outline-offset:0;
}

@media all and (min-width: 64em){
  .usa-nav-container{
    margin-left:auto;
    margin-right:auto;
    max-width:64rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-left:2rem;
    padding-right:2rem;
  }
  .usa-nav-container::after{
    clear:both;
    content:"";
    display:block;
  }
}
@media all and (min-width: 64em) and (min-width: 64em){
  .usa-nav-container{
    padding-left:2rem;
    padding-right:2rem;
  }
}

.usa-navbar{
  height:3rem;
}
@media all and (max-width: 63.99em){
  .usa-navbar{
    align-items:center;
    border-bottom:1px solid #dfe1e2;
    display:flex;
  }
}
@media all and (min-width: 64em){
  .usa-navbar{
    border-bottom:none;
    display:inline-block;
    height:auto;
  }
}

@keyframes slidein-left{
  from{
    transform:translateX(15rem);
  }
  to{
    transform:translateX(0);
  }
}
.usa-nav{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
}
@media all and (max-width: 63.99em){
  .usa-nav{
    position:absolute;
    right:0;
    position:absolute;
    bottom:0;
    top:0;
    position:fixed;
    background:white;
    border-right:0;
    display:none;
    flex-direction:column;
    overflow-y:auto;
    padding:1rem;
    width:15rem;
    z-index:500;
  }
  .usa-nav.is-visible{
    -webkit-animation:slidein-left 0.3s ease-in-out;
            animation:slidein-left 0.3s ease-in-out;
    display:flex;
  }
}
@media all and (min-width: 64em){
  .usa-nav{
    float:right;
    position:relative;
  }
}
@media all and (min-width: 64em){
  .usa-nav .usa-search{
    margin-left:1rem;
  }
}
.usa-nav .usa-accordion{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
}

@media all and (max-width: 63.99em){
  .usa-nav__primary{
    margin-bottom:0;
    margin-top:0;
    list-style-type:none;
    padding-left:0;
    margin-top:1.5rem;
    order:2;
  }
  .usa-nav__primary > li{
    margin-bottom:0;
    max-width:unset;
  }
  .usa-nav__primary-item{
    border-top:1px solid #dfe1e2;
  }
  .usa-nav__primary a:not(.usa-button){
    color:#565c65;
    display:block;
    padding:0.5rem 1rem;
    text-decoration:none;
  }
  .usa-nav__primary a:not(.usa-button):hover{
    background-color:#f0f0f0;
    color:#005ea2;
    text-decoration:none;
  }
  .usa-nav__primary a:not(.usa-button):focus{
    outline-offset:0;
  }
  .usa-nav__primary .usa-current{
    position:relative;
    color:#005ea2;
    font-weight:700;
  }
  .usa-nav__primary .usa-current::after{
    background-color:#005ea2;
    border-radius:99rem;
    content:"";
    display:block;
    position:absolute;
    bottom:0.25rem;
    top:0.25rem;
    width:0.25rem;
    left:0.25rem;
  }
}
@media all and (max-width: 63.99em) and (min-width: 40em){
  .usa-nav__primary .usa-current{
    position:relative;
  }
  .usa-nav__primary .usa-current::after{
    background-color:#005ea2;
    border-radius:99rem;
    content:"";
    display:block;
    position:absolute;
    bottom:0.25rem;
    top:0.25rem;
    width:0.25rem;
    left:0;
  }
}
@media all and (max-width: 63.99em){
  .usa-nav__primary a{
    padding-bottom:0.75rem;
    padding-top:0.75rem;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary{
    display:flex;
  }
}
.usa-nav__primary .usa-nav__primary-item a{
  text-decoration:none;
}
.usa-nav__primary > .usa-nav__primary-item{
  line-height:1.1;
}
@media all and (min-width: 64em){
  .usa-nav__primary > .usa-nav__primary-item{
    font-size:0.93rem;
    line-height:0.9;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary > .usa-nav__primary-item > a{
    line-height:0.9;
    padding:1rem;
    color:#565c65;
    display:block;
    font-weight:700;
  }
  .usa-nav__primary > .usa-nav__primary-item > a:hover{
    color:#005ea2;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary a{
    padding-bottom:0.5rem;
    padding-top:0.5rem;
  }
}
.usa-nav__primary button{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  color:#565c65;
  font-weight:normal;
  line-height:1.1;
  padding:0.75rem 1rem;
  text-decoration:none;
}
.usa-nav__primary button:visited{
  color:#54278f;
}
.usa-nav__primary button:hover{
  color:#1a4480;
}
.usa-nav__primary button:active{
  color:#162e51;
}
.usa-nav__primary button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-nav__primary button:hover, .usa-nav__primary button:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
@media all and (min-width: 64em){
  .usa-nav__primary button{
    line-height:0.9;
    padding:1rem;
    font-size:0.93rem;
    font-weight:700;
  }
}
.usa-nav__primary button:hover{
  color:#005ea2;
  background-color:#f0f0f0;
  text-decoration:none;
}
@media all and (min-width: 64em){
  .usa-nav__primary button:hover{
    background-color:transparent;
  }
}
.usa-nav__primary button[aria-expanded=false]{
  background-image:url("../img/usa-icons/add.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:right 0 center;
  background-size:1.25rem;
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=false]{
    background-image:url("../img/usa-icons/expand_more.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    background-size:1rem;
    background-position:right 0.75rem top 53%;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=false]:hover{
    background-image:url("../img/usa-icons-bg/expand_more--blue-warm-70v.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
  }
}
.usa-nav__primary button[aria-expanded=true]{
  background-image:url("../img/usa-icons/remove.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:right 0 center;
  background-size:1.25rem;
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=true]{
    background-image:url("../img/usa-icons-bg/expand_less--white.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    background-size:1rem;
    background-color:#162e51;
    background-position:right 0.75rem top 53%;
    color:white;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary .usa-accordion__button span{
    margin-right:0;
    padding-right:1rem;
  }
}

.usa-nav__secondary{
  margin-top:1rem;
}
@media all and (min-width: 64em){
  .usa-nav__secondary{
    flex-direction:column;
    align-items:flex-end;
    bottom:4rem;
    display:flex;
    font-size:0.93rem;
    margin-top:0.5rem;
    min-width:calc( 27ch + 3rem );
    position:absolute;
    right:2rem;
  }
}
.usa-nav__secondary .usa-search{
  margin-top:1rem;
  width:100%;
}
@media all and (min-width: 64em){
  .usa-nav__secondary .usa-search{
    margin-left:0;
    margin-top:0.5rem;
  }
}

.usa-nav__secondary-links{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  line-height:1.3;
  margin-top:1.5rem;
}
@media all and (min-width: 64em){
  .usa-nav__secondary-links{
    float:right;
    line-height:0.9;
    margin-bottom:0.25rem;
    margin-top:0;
  }
}
@media all and (min-width: 64em){
  .usa-nav__secondary-links .usa-nav__secondary-item{
    display:inline;
    padding-left:0.25rem;
  }
  .usa-nav__secondary-links .usa-nav__secondary-item + .usa-nav__secondary-item::before{
    color:#dfe1e2;
    content:"|";
    padding-right:0.25rem;
  }
}
.usa-nav__secondary-links a{
  color:#71767a;
  display:inline-block;
  font-size:0.93rem;
  text-decoration:none;
}
.usa-nav__secondary-links a:hover{
  color:#005ea2;
  text-decoration:underline;
}

@media all and (max-width: 63.99em){
  .usa-nav__submenu{
    margin-bottom:0;
    margin-top:0;
    list-style-type:none;
    padding-left:0;
    margin:0;
  }
  .usa-nav__submenu > li{
    margin-bottom:0;
    max-width:unset;
  }
  .usa-nav__submenu-item{
    border-top:1px solid #dfe1e2;
    font-size:0.93rem;
  }
  .usa-nav__submenu .usa-current::after{
    display:none;
  }
}
@media all and (max-width: 63.99em) and (min-width: 40em){
  .usa-nav__submenu .usa-current::after{
    display:none;
  }
}
@media all and (max-width: 63.99em){
  .usa-nav__submenu a:not(.usa-button){
    padding-left:2rem;
  }
}
@media all and (max-width: 63.99em){
  .usa-nav__submenu .usa-nav__submenu a:not(.usa-button){
    padding-left:3rem;
  }
}
@media all and (max-width: 63.99em){
  .usa-nav__submenu .usa-nav__submenu .usa-nav__submenu a:not(.usa-button){
    content:"foobar";
    padding-left:4rem;
  }
}
@media all and (min-width: 64em){
  .usa-nav__submenu{
    margin-bottom:0;
    margin-top:0;
    list-style-type:none;
    padding-left:0;
    background-color:#162e51;
    width:15rem;
    padding:1rem;
    position:absolute;
    z-index:400;
  }
}
.usa-nav__submenu[aria-hidden=true]{
  display:none;
}
@media all and (min-width: 64em){
  .usa-nav__submenu .usa-nav__submenu-item + *{
    margin-top:0.75rem;
  }
  .usa-nav__submenu .usa-nav__submenu-item a{
    color:white;
    padding:0;
    line-height:1.3;
  }
  .usa-nav__submenu .usa-nav__submenu-item a:hover{
    background-color:transparent;
    color:white;
    padding:0;
    text-decoration:underline;
  }
}

.usa-nav__submenu-list{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
}
.usa-nav__submenu-list > li{
  margin-bottom:0;
  max-width:unset;
}
.usa-nav__submenu-list .usa-nav__submenu-list-item{
  margin:0;
  font-size:0.93rem;
}
.usa-nav__submenu-list .usa-nav__submenu-list-item a{
  line-height:1.3;
}

.usa-nav__close{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  height:3rem;
  width:3rem;
  color:currentColor;
  flex:none;
  float:right;
  margin:-0.75rem -1rem 1rem auto;
  text-align:center;
}
.usa-nav__close:visited{
  color:#54278f;
}
.usa-nav__close:hover{
  color:#1a4480;
}
.usa-nav__close:active{
  color:#162e51;
}
.usa-nav__close:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-nav__close:hover, .usa-nav__close:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
.usa-nav__close:hover{
  color:currentColor;
  text-decoration:none;
}
@media all and (min-width: 64em){
  .usa-nav__close{
    display:none;
  }
}
.usa-nav__close img{
  width:1.5rem;
}
.usa-nav__close + *{
  clear:both;
}

.usa-section{
  padding-bottom:2rem;
  padding-top:2rem;
}
@media all and (min-width: 40em){
  .usa-section{
    padding-bottom:4rem;
    padding-top:4rem;
  }
}
.usa-sidenav a:not(.usa-button):focus{
  outline-offset:0;
}

.usa-skipnav{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  color:#005ea2;
  text-decoration:underline;
  background:transparent;
  left:0;
  padding:0.5rem 1rem;
  position:absolute;
  top:-3.8rem;
  transition:0.15s ease-in-out;
  z-index:100;
}
.usa-skipnav:visited{
  color:#54278f;
}
.usa-skipnav:hover{
  color:#1a4480;
}
.usa-skipnav:active{
  color:#162e51;
}
.usa-skipnav:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-skipnav:focus{
  background:white;
  left:0;
  position:absolute;
  top:0;
  transition:0.15s ease-in-out;
}
.text-gray-50{
  color:#757575;
}
.margin-top-2{
  margin-top:1rem;
}