{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if site.Params.search }}
<input
  class="usa-input"
  id="search"
  type="text"
  aria-label="Search by title or publish date"
  placeholder="Disabled ..."
  disabled>

<div id="enable_search_div" class="usa-checkbox">
  <input id="enable_search" class="usa-checkbox__input" type="checkbox">
  <label class="usa-checkbox__label" for="enable_search">
    Enable search
  </label>
</div>

<div class="usa-checkbox">
  <input id="regex_mode" class="usa-checkbox__input" type="checkbox" disabled>
  <label class="usa-checkbox__label" for="regex_mode">
    Regex mode
  </label>
</div>
{{ end }}

<p class="text-gray-50" id="count">Count: {{ len .Pages }}</p>

<div id="list" class="usa-prose">
{{ range .Pages.ByPublishDate.Reverse }}
  {{ $dateFormat := (partial "date-format.html" | string) }}
  {{ $date := .PublishDate.Format $dateFormat }}
  {{ $summary := trim (.Summary | plainify | htmlUnescape) "\n\r" }}

  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <p>
    <span class="text-gray-50">{{ $date }}</span>
    <br>
    {{ $summary }}
  </p>
{{ end }}
</div>

{{ end }}
