<div class="table-responsive">
  <h2>File</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">.BaseFileName</th>
        <td>{{ with .File }}{{ .BaseFileName }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.ContentBaseName</th>
        <td>{{ with .File }}{{ .ContentBaseName }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Dir</th>
        <td>{{ with .File }}{{ .Dir }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Ext</th>
        <td>{{ with .File }}{{ .Ext }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Filename</th>
        <td>{{ with .File }}{{ .Filename }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Lang</th>
        <td>{{ with .File }}{{ .Lang }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.LogicalName</th>
        <td>{{ with .File }}{{ .LogicalName }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Path</th>
        <td>{{ with .File }}{{ .Path }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.TranslationBaseName</th>
        <td>{{ with .File }}{{ .TranslationBaseName }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.UniqueID</th>
        <td>{{ with .File }}{{ .UniqueID }}{{ end }}</td>
      </tr>
    </tbody>
  </table>
</div>
