<div class="table-responsive">
  <h2>GitInfo</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">.AbbreviatedHash</th>
        <td>{{ with .GitInfo }}{{ .AbbreviatedHash }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.AuthorDate</th>
        <td>{{ with .GitInfo }}{{ .AuthorDate }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.AuthorEmail</th>
        <td>Nope</td>
      </tr>
      <tr>
        <th scope="row">.AuthorName</th>
        <td>{{ with .GitInfo }}{{ .AuthorName }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.CommitDate</th>
        <td>{{ with .GitInfo }}{{ .CommitDate }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Hash</th>
        <td>{{ with .GitInfo }}{{ .Hash }}{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">.Subject</th>
        <td>{{ with .GitInfo }}{{ .Subject }}{{ end }}</td>
      </tr>
    </tbody>
  </table>
</div>
