/* general */

:root {
  --custom-body-font-size: 16px;
  --custom-body-font-weight: 400;
  --custom-body-line-height: 1.6;
  --custom-body-color: #212529;
  --custom-body-background-color: #fcfcfc;
  --custom-border-radius: 0.25rem;
  --custom-border-width: 2px;
  --custom-border-width-thick: 0.25rem;
  --custom-border-style: solid;
  /* NOTE when changing this, also change hugo figure resize options */
  --custom-container-max-width: 700px;
  --custom-primary-color: #68421a;
  --custom-secondary-color: #ebceaf;
  --custom-link-color: #68421a;
  --custom-code-background-color: rgba(29, 28, 29, 0.04);
  --custom-code-border-color: rgba(29, 28, 29, 0.13);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--custom-link-color);
  --bs-btn-border-color: var(--custom-link-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--custom-link-color);
  --bs-btn-hover-border-color: var(--custom-link-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--custom-link-color);
  --bs-btn-active-border-color: var(--custom-link-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--custom-link-color);
  --bs-btn-disabled-border-color: var(--custom-link-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--custom-link-color);
  --bs-btn-border-color: var(--custom-link-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--custom-link-color);
  --bs-btn-hover-border-color: var(--custom-link-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--custom-link-color);
  --bs-btn-active-border-color: var(--custom-link-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--custom-link-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--custom-link-color);
  --bs-gradient: none;
}

body {
  font-size: var(--custom-body-font-size);
  font-weight: var(--custom-body-font-weight);
  line-height: var(--custom-body-line-height);
  color: var(--custom-body-color);
  background-color: var(--custom-body-background-color);
}

main {
  margin-bottom: 2rem;
}

main a,
main a:visited,
main a:hover,
.page-link,
.page-link:hover {
  color: var(--custom-link-color);
}

/* Sticky footer sourced from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.custom-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.custom-content {
  flex: 1;
}

/* container */

.container {
  max-width: var(--custom-container-max-width);
}

/* blockquote */

blockquote {
  padding-left: 1rem;
  border-left-width: var(--custom-border-width-thick);
  border-left-style: var(--custom-border-style);
}

/* code */

pre,
code {
  background-color: var(--custom-code-background-color);
  border-radius: var(--custom-border-radius);
  border: 1px solid var(--custom-code-border-color);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre,
pre code {
  word-wrap: normal;
}

pre code {
  font-size: inherit;
  word-break: normal;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

code {
  font-size: 0.875em;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  color: inherit;
}

a>code {
  color: inherit;
}

/* img */

img {
  max-width: 100%;
  height: auto;
}

/* figure */

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
}

figcaption {
  padding: 1rem;
  border-top-width: var(--custom-border-width);
  border-top-style: var(--custom-border-style);
}

/* header, footer */

.custom-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--custom-primary-color);
  border-bottom-width: var(--custom-border-width);
  border-bottom-style: var(--custom-border-style);
}

.custom-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--custom-primary-color);
  border-top-width: var(--custom-border-width);
  border-top-style: var(--custom-border-style);
}

/* nav */

.custom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.custom-icon-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

/* title */

.custom-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: var(--custom-secondary-color);
  border-bottom-width: var(--custom-border-width);
  border-bottom-style: var(--custom-border-style);
  text-align: center;
}

.custom-title h1 {
  margin-bottom: 0;
}

/* table of contents */

.custom-toc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

/* header link */

.custom-header-link {
  text-decoration: none;
}

/* icon text */

.custom-icon-text {
  display: inline-block;
  vertical-align: middle;
}

/* paginator */

.custom-paginator {
  margin-top: 2rem;
  padding: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

.custom-paginator-buttons {
  display: flex;
  justify-content: center;
}

.custom-paginator-totals {
  text-align: center;
}

/* blog list */

.custom-card {
  margin-bottom: 2rem;
  padding: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

.custom-read-more-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-read-more-button {
  width: 100%;
}

/* blog single */

.custom-datestamp {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-reply-box {
  border-top: var(--custom-border-width) var(--custom-border-style);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.custom-reply-box .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* debug */

.custom-box-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#debug_modal {
  min-width: 50vw;
  min-height: 100vh;
}

#close_debug_modal {
  background-color: transparent;
  border: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
}

#debug_modal_title {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#debug_modal_content details {
  border: var(--custom-border-width) var(--custom-border-style);
  border-radius: var(--custom-border-radius);
  padding: 0.5rem;
}

#debug_modal_content>details {
  margin-bottom: 1rem;
}

/* dark mode */
/* NOTE: this must be placed last in the stylesheet in order to override the default light mode */

.custom-theme-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#custom_theme_toggle {
  width: initial;
}

[data-bs-theme=dark] {
  --custom-body-color: #dee2e6;
  --custom-body-background-color: #353535;
  --custom-primary-color: inherit;
  --custom-secondary-color: inherit;
  --custom-link-color: #e59a9a;
  --custom-code-background-color: #282828;
  --custom-code-border-color: #495057;

  img {
    filter: brightness(.8) contrast(1.2);
  }
}
