/* general */

:root {
  --custom-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --custom-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --custom-body-font-family: var(--custom-font-sans-serif);
  --custom-body-font-size: 16px;
  --custom-body-font-weight: 400;
  --custom-body-line-height: 1.6;
  --custom-body-color: #212529;
  --custom-body-background-color: #fcfcfc;
  --custom-border-radius: 0.25rem;
  --custom-border-width: 2px;
  --custom-border-width-thick: 0.25rem;
  --custom-border-style: solid;
  --custom-container-max-width: 620px;
}

body {
  margin: 0;
  font-family: var(--custom-body-font-family);
  font-size: var(--custom-body-font-size);
  font-weight: var(--custom-body-font-weight);
  line-height: var(--custom-body-line-height);
  color: var(--custom-body-color);
  text-align: var(--custom-body-text-align);
  background-color: var(--custom-body-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* container */

.container {
  max-width: var(--custom-container-max-width);
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

/* blockquote */

blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  border-left-width: var(--custom-border-width-thick);
  border-left-style: var(--custom-border-style);
}

/* code */

pre,
code,
kbd,
samp {
  font-family: var(--custom-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

pre,
code {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--custom-border-radius);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre,
pre code {
  word-wrap: normal;
}

pre code {
  font-size: inherit;
  word-break: normal;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

code {
  font-size: 0.875em;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  color: inherit;
}

a > code {
  color: inherit;
}

/* img */

img {
  max-width: 100%;
  height: auto;
}

/* figure */

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
}

figcaption {
  padding: 1rem;
  border-top-width: var(--custom-border-width);
  border-top-style: var(--custom-border-style);
}

/* nav */

.custom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #212529;
  border-radius: var(--custom-border-radius);
}

/* header */

.custom-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* footer */

.custom-footer {
  margin-top: 8rem;
  margin-bottom: 1rem;
}

/* search */

#search {
  width: 100%;
  margin-bottom: 1rem;
}

/* table of contents */

.custom-toc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
}

/* header link */

.custom-header-link {
  text-decoration: none;
}

/* icon text */

.custom-icon-text {
  display: inline-block;
  vertical-align: middle;
}
