/* general */

:root {
  --custom-body-font-size: 16px;
  --custom-body-font-weight: 400;
  --custom-body-line-height: 1.6;
  --custom-body-color: #212529;
  --custom-body-background-color: #fcfcfc;
  --custom-border-radius: 0.25rem;
  --custom-border-width: 2px;
  --custom-border-width-thick: 0.25rem;
  --custom-border-style: solid;
  --custom-container-max-width: 620px;
}

body {
  font-size: var(--custom-body-font-size);
  font-weight: var(--custom-body-font-weight);
  line-height: var(--custom-body-line-height);
  color: var(--custom-body-color);
  background-color: var(--custom-body-background-color);
}

/* Sticky footer sourced from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.custom-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.custom-content {
  flex: 1;
}

/* container */

.container {
  max-width: var(--custom-container-max-width);
}

/* blockquote */

blockquote {
  padding-left: 1rem;
  border-left-width: var(--custom-border-width-thick);
  border-left-style: var(--custom-border-style);
}

/* code */

pre,
code {
  background-color: rgba(29, 28, 29, 0.04);
  border-radius: var(--custom-border-radius);
  border: 1px solid rgba(29, 28, 29, 0.13);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre,
pre code {
  word-wrap: normal;
}

pre code {
  font-size: inherit;
  word-break: normal;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

code {
  font-size: 0.875em;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  color: rgb(224, 30, 90);
}

a>code {
  color: inherit;
}

/* img */

img {
  max-width: 100%;
  height: auto;
}

/* figure */

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
}

figcaption {
  padding: 1rem;
  border-top-width: var(--custom-border-width);
  border-top-style: var(--custom-border-style);
}

/* header, footer */

.custom-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}

.custom-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  background-color: #212529;
}

/* nav */

.custom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* title */

.custom-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(29, 28, 29, 0.04);
  border-bottom: var(--custom-border-width) var(--custom-border-style);
  text-align: center;
}

.custom-title h1 {
  margin-bottom: 0;
}

/* table of contents */

.custom-toc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

/* header link */

.custom-header-link {
  text-decoration: none;
}

/* icon text */

.custom-icon-text {
  display: inline-block;
  vertical-align: middle;
}

/* paginator */

.custom-paginator {
  margin-top: 2rem;
  padding: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

.custom-paginator-buttons {
  display: flex;
  justify-content: center;
}

.custom-paginator-totals {
  text-align: center;
}

/* blog list */

.custom-card {
  margin-bottom: 2rem;
  padding: 1rem;
  border-width: var(--custom-border-width);
  border-style: var(--custom-border-style);
  border-radius: var(--custom-border-radius);
}

/* blog single */

.custom-datestamp {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
