{{ $command := .Get "command" }}
{{ $options := .Get "options" }}

{{ with .Page.Resources.ByType "image" }}
  {{ range . }}

    {{ $original := . }}
    {{ $new := "" }}

    {{ if eq $command "Fit" }}
      {{ $new = $original.Fit $options }}
    {{ else if eq $command "Fill" }}
      {{ $new = $original.Fill $options }}
    {{ else if eq $command "Resize" }}
      {{ $new = $original.Resize $options }}
    {{ else if eq $command "Original" }}
      {{ $new = $original }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill, Resize, Original." }}
    {{ end }}

    <div style="margin-bottom: 1rem;">
      <a href="{{ $original.RelPermalink }}">
        <img src="{{ $new.RelPermalink }}">
      </a>
    </div>

  {{ end }}
{{ end }}
