#random_color,
#customize_color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 0.375rem;
}

#random_color_text,
#customize_color_text {
  color: #f8f9fa;
  font-weight: bold;
}
