<!doctype html>
<html lang="{{ site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body class="custom-body">
    {{ partial "theme-js.html" . }}
    {{ partial "header.html" . }}
    <main class="custom-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "reply-by-email.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "debug-modal.html" . }} <!-- must be the last html item -->
    {{ partial "internal-js.html" . }}
    {{ partial "script-goatcounter.html" . }}
  </body>
</html>
