<p class="">
  {{ $dateFormat := (partial "date-format.html" | string) }}
  {{ $publishDate := .PublishDate }}
  {{ $formattedPublishDate := $publishDate.Format $dateFormat }}
  <strong>Published: </strong>{{ $formattedPublishDate }}

  {{ with .Lastmod }}
    {{ $formattedLastmod := .Format $dateFormat }}
    {{ if gt $formattedLastmod $formattedPublishDate }}
      &bull; <strong>Last updated: </strong>{{ $formattedLastmod }}
    {{ end }}
  {{ end }}

  {{ if eq site.Params.show_tags true }}
    {{ $tags := slice }}

    {{ with .Params.tags }}
      {{ range . }}
        {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
        {{ $element := printf "<a href=\"%s\">%s</a>" $href . }}
        {{ $tags = $tags | append $element }}
      {{ end }}
    {{ end }}

      <br>
      <span class="post-tags">
        <strong>Tags: </strong>{{ delimit $tags " &bull; " }}
      </span>
  {{ end }}
</p>
