<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__secondary-section" id="footer-main">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-12">
          {{ with site.Params.footer }}
            <div>
              {{ . | markdownify }}
            </div>
          {{ end }}

          {{ if eq site.Params.show_footer_site_last_updated true }}
            <div>
              Site last updated {{ now.Format "2006-01-02" }}
            </div>
          {{ end }}

          {{ if eq site.Params.show_footer_debug true }}
            <div>
              <details>
                <summary>Debug info</summary>
                {{ partial "debug-table.html" . }}
              </details>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</footer>
