{{ define "main" }}
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ if site.Params.show_search }}
      <input
        class=""
        id="search"
        type="text"
        aria-label="Search by title"
        placeholder="Disabled..."
        disabled
      >
    {{ end }}
    <p class="" id="count">
      <strong>Count:</strong> {{ len .Pages }}
    </p>
    <div id="list" class="">
      {{ range .Pages.ByPublishDate.Reverse }}
        <p>
          {{ .PublishDate.Format site.Params.date_format }}
          <br>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </p>
      {{ end }}
    </div>
  </div>
{{ end }}
