<p>
  <span class="custom-icon-text">
    {{ partial "feather-icons/calendar.html" . }}
  </span>
  <span class="custom-icon-text">
    {{ $formattedPublishDate := .PublishDate.Format site.Params.date_format }}
    <strong>Published:</strong> {{ $formattedPublishDate }}
    {{ if .Lastmod }}
      {{ $formattedLastmod := .Lastmod.Format site.Params.date_format }}
      {{ if gt .Lastmod .PublishDate }}
        &bull; <strong>Updated:</strong> {{ $formattedLastmod }}
      {{ end }}
    {{ end }}
  </span>
</p>
