{{ $ISO_FORMAT := "2006-01-02" }}

<p>
  {{ $formattedPublishDate := .PublishDate.Format site.Params.date_format }}
  {{ $isoPublishDate := .PublishDate.Format $ISO_FORMAT }}
  <strong>Published:</strong> {{ $formattedPublishDate }}
  {{ if .Lastmod }}
    {{ $formattedLastmod := .Lastmod.Format site.Params.date_format }}
    {{ $isoLastmodDate := .Lastmod.Format $ISO_FORMAT }}
    {{ if gt $isoLastmodDate $isoPublishDate }}
      <br>
      <strong>Updated:</strong> {{ $formattedLastmod }}
    {{ end }}
  {{ end }}
</p>
