<p>
  <span class="custom-icon-text">
    {{ partial "feather-icons/calendar.html" . }}
  </span>
  <span class="custom-icon-text">
    {{ $dateFormat := (partial "date-format.html" | string) }}
    {{ $formattedPublishDate := .PublishDate.Format $dateFormat }}
    <strong>Published:</strong> {{ $formattedPublishDate }}
    {{ if .Lastmod }}
      {{ $formattedLastmod := .Lastmod.Format $dateFormat }}
      {{ if gt .Lastmod .PublishDate }}
        &bull; <strong>Updated:</strong> {{ $formattedLastmod }}
      {{ end }}
    {{ end }}
  </span>
</p>
