{{ if eq site.Params.show_built_with true }}
  <div class="custom-footer-nav">
    <a
      href="/built-with"
      class="custom-footer-link custom-footer-nav-item"
    >
      <span class="custom-icon-text">
        Built with
        {{ partial "partials/feather-icons/heart.html" . }}
      </span>
    </a>
    <a
      href="https://github.com/zwbetz-gh/zwbetz/issues"
      class="custom-footer-link custom-footer-nav-item"
    >
      <span class="custom-icon-text">
        See an issue? Let me know
        {{ partial "partials/feather-icons/check.html" . }}
      </span>
    </a>
  </div>
{{ end }}
