{{ $sectionIsBlog := eq .Section "blog" }}
{{ $flagIsOkay := ne .Params.show_reply_by_email false }}
{{ $shouldShow := and .IsPage $sectionIsBlog $flagIsOkay }}
{{ if $shouldShow }}
  <div class="custom-reply-box">
    <div class="container">
      <a class="btn btn-outline-primary" href="/contact/" role="button">
        <div class="custom-icon-button-box">
          {{ partial "feather-icons/mail.html" }}
          <span>Reply by email</span>
        </div>
      </a>
    </div>
  </div>
{{ end }}
